[submodule "modules/nginx"]
	path = modules/nginx
	url = https://github.com/BenoitCattie/puppet-nginx.git
[submodule "modules/php5-fpm"]
	path = modules/php5-fpm
	url = https://github.com/BenoitCattie/puppet-php5-fpm.git
